.footer {
  background-color: #584689;
  color: #fff;
  padding: 10px 0;
}
footer {
  background-color: #584689;
  color: #fff;
  padding: 20px 0;
  width: 100%; 
}

.footer-container {
  max-width: 1200px; 
  margin: 0 auto; 
}

.footer-container {
  display: flex;
      justify-content: space-between;
      align-items: top;
      gap: 20px;
      padding: 20px;
      flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  margin-bottom: 20px;
}

.footer-section h4 {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 5px;
}

.footer-section ul {
    padding-left: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section li {
  margin-bottom: 10px;
}

.footer-section form {
  display: flex;
}

.footer-section input[type="email"] {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px 0px 0px 5px;
}

.footer-section button {
  background-color: #000000bd;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 0 5px 5px 0px;
  cursor: pointer;
  
}

.subscription{
  padding-top: 10px;
}

.logo-container {
  text-align: center;
}
