*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.position{
    gap: .2rem;
    display: grid;
    min-height: 600vh;
    grid-template-areas: 
    "nav nav nav"
    "main main main"
    "buttom buttom buttom";
    grid-template-rows: 4rem 1fr 20rem;
}
.top{
    grid-area: nav;
    background-color: #f1d3ad;
}
.middle{
    grid-area: main;
    background-color: #715229;
}
.buttom{
    grid-area: buttom;
    background-color: #946425;
}