.navbar {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 99999;
  background: #fff;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  font-size: 1.8rem;
}
.nav-links ul {
  display: none;
}
.show ul {
  display: flex;
  position: absolute;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
  gap: 10px;
  bottom: -247px;
  left: 10px;
}

.nav-links ul li {
  display: inline-block;
  list-style-type: none;
  font-size: 1.2rem;
  padding: 10px 30px;
}
.nav-links ul li:hover {
  background-color: #eee;
}



.nav-links ul li a {
  color: #000;
  text-decoration: none;
}

.hero_nav {
  background: #832498;
}
.logo-container {
  display: flex;
}
nav svg {
  width: 22px;
  margin-right: 5px;
  cursor: pointer;
}

nav svg:hover + menu {
  display: flex;
}
@media (min-width:768px){
  nav svg {
    display: none;
  }
  .nav-links ul {
    display: block;
    position: unset;
    padding: 0;
  }
  .nav-links ul li{
   padding:  10px 38px;
  }
}